
@model SmallBusinessWebApp.Models.SupplierModelView

@{
    Layout = "~/Views/Shared/_MuTheme.cshtml";
}




<div>
    <form class="form-horizontal" method="POST" style="background-color:lightgray">
        <p class="h4 mb-4" style="color:cornflowerblue">Supplier Add</p>

        <h2>
            @if (ViewBag.SuccessMsg != null)
            {
                <h3 style="color:green">@ViewBag.SuccessMsg</h3>
            }
            @if (ViewBag.FailMsg != null)
            {
                <h3 style="color:orangered">@ViewBag.FailMsg</h3>
            }
        </h2>
        <div class="contetainer">

            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="form-group">

                        @Html.LabelFor(c => c.Code, null, new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">

                            @Html.TextBoxFor(c => c.Code, null, new { @class = "form-control", placeholder = "Code" })

                        </div>
                    </div>

                    <div class="form-group">

                        @Html.LabelFor(c =>c.SupplierName, null, new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">

                            @Html.TextBoxFor(c => c.SupplierName, null, new { @class = "form-control", placeholder = "SupplierName" })
                            @Html.ValidationMessageFor(c => c.SupplierName, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">

                        @Html.LabelFor(c => c.Address, null, new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">

                            @Html.TextBoxFor(c => c.Address, null, new { @class = "form-control", placeholder = "Address" })
                        </div>
                    </div>
                    <div class="form-group">

                        @Html.LabelFor(c => c.Email, null, new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">

                            @Html.TextBoxFor(c => c.Email, null, new { @class = "form-control", placeholder = "Email" })
                            @Html.ValidationMessageFor(c => c.Email, null, new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">

                        @Html.LabelFor(c => c.Contact, null, new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">

                            @Html.TextBoxFor(c => c.Contact, null, new { @class = "form-control", placeholder = "Contact" })

                        </div>
                    </div>

                    <div class="form-group">

                        @Html.LabelFor(c => c.ContactPerson, null, new { @class = "control-label col-sm-2" })
                        <div class="col-sm-10">

                            @Html.TextBoxFor(c => c.ContactPerson, null, new { @class = "form-control", placeholder = "ContactPerson" })

                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success" value="Save">Save</button>
                        </div>
                    </div>


                </div>

            </div>

        </div>



    </form>
</div>


@section Scripts{


    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
}


